@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

main {
  display: flex;
  flex-wrap: wrap;
  min-height: 100dvh;
  width: 100%;
}

.image-side {
  flex: 1 1 450px;
  background-image: url("../images/dog.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
  min-height: 350px;
}

.form-side {
  flex: 1 1 450px;
  background-color: #FDFBF7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-content {
  padding: 60px 40px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.logo-title {
  font-size: 3rem;
  color: #1F2937;
  font-weight: 800;
  margin: 5px 0 5px 0;
}

.subtitle {
  font-size: 1.4rem;
  color: #4B5563;
  font-weight: 600;
  margin: 5px 0 30px 0;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 24px;
}

.input-group {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-group label {
  font-size: 1.1rem;
  color: #1F2937;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  gap: 4px;
}

.input-group input {
  padding: 16px 12px;
  border-radius: 12px;
  border: 2px solid #1F2937;
}

.input-group input:hover {
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  padding: 20px 28px;
  background-color: white;
  margin-top: 12px;
  border-radius: 12px;
  border: 2px solid #1F2937;
  transition: 0.2s;
  font-size: 1.3rem;
}

.button-container button:hover {
  transform:
    translateY(-4px);
  filter: brightness(0.8)
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  padding: 18px;
}

.required {
  font-size: 1.4rem;
  color: red;
  line-height: 0;
}

.github-icon {
  width: 48px;
  height: 48px;
  display: block;
  transition: 0.3s;
}

.github-icon:hover {
  transform: scale(1.1);
}